.sidebar {
  width: 224px;
  height: 100vh;
  background-color: #05205e;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar_hidden {
  width: 98px;
  height: 100vh;
  background-color: #05205e;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar__logo {
  margin: 50px 119px 20px 32px;
  width: 73px;
  max-height: 30px;
  object-fit: cover;
}

.sidebar__logo_hidden {
  margin: 50px auto 20px;
  width: auto;
  height: 30px;
  object-fit: cover;
}

.btn__hide {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  outline: none;
  background-color: #042779;
  border: none;
  position: absolute;
  bottom: 40px;
  right: 32px;
}

.btn__hide:hover {
  background-color: #0246e7;
  cursor: pointer;
}

.btn__hide_hidden {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  outline: none;
  background-color: #042779;
  border: none;
  position: absolute;
  bottom: 40px;
  right: 24px;
}

.btn__hide_hidden:hover {
  background-color: #0246e7;
  cursor: pointer;
}
