/* >1660px */
.inutbox_wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1560px;
  min-width: 1240px;
  height: 50px;
  margin: 0 0 16px 0;
}

/* 1440..1659px */
@media screen and (max-width: 1659px) {
  .inutbox_wrapper {
    max-width: 1440px;
    min-width: calc(100% - 68px * 2 - 100px);
  }
}

/* 1280..1439px */
@media screen and (max-width: 1439px) {
  .inutbox_wrapper {
    max-width: 1056px;
    min-width: calc(100% - 68px * 2 - 100px);
  }
}

.filterbtn {
  background-color: #eff0f5;
  width: 130px;
  height: 50px;
  color: black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  outline: none;
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filterbtn:hover {
  color: #0246e7;
  cursor: pointer;
}

.filterbtn:hover svg path,
.filterbtn:hover svg line {
  stroke: #0246e7;
}
