.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  background-color: #eff0f5;
  border-radius: 5px;
  margin-right: 16px;
  padding: 5px 16px;
  border: none;
  width: fit-content;
}

.tag:hover {
  cursor: pointer;
  background-color: #dee3ef;
}

.tag:active {
  background-color: #2969ff;
  color: white;
}

.tag:active .tag__text:last-of-type {
  color: white;
}

.tag:last-of-type {
  margin-right: 0;
}

.tag__text {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0 10px 0 0;
}

.tag__text:last-of-type {
  margin-right: 0;
  color: #0246e7;
}
