.statusbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status__container {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.status__circle {
  background-color: #9d70ff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 6px;
}

.status__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.status__icon {
  width: 24px;
  height: 24px;
}

.status__icon:hover path {
  stroke: #0246e7;
}
